BasedOnStyle: WebKit
---
Language: Cpp
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
Cpp11BracedListStyle: true
ColumnLimit: 120
IndentCaseLabels: true
